@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

:root {
  --primary-color: #5858d8;
  --secondary-color: #2f2fdf;
  --dark-color: rgb(60, 60, 60);
  --light-color: rgb(226, 226, 226); }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.logo img {
  width: 90px;
  height: 60px; }

#nav-bar .nav-second ul, #nav-bar .nav-third ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; }
  #nav-bar .nav-second ul li, #nav-bar .nav-third ul li {
    list-style: none;
    margin-top: 0.8rem; }
    #nav-bar .nav-second ul li a, #nav-bar .nav-third ul li a {
      color: var(--light-color);
      font-size: 1.3rem;
      padding: 1rem;
      margin: auto; }
      #nav-bar .nav-second ul li a:hover, #nav-bar .nav-third ul li a:hover {
        color: var(--secondary-color); }

#nav-bar {
  max-width: 100vw;
  min-height: 100%; }

header .container .button-home {
  text-align: center;
  padding: 1rem;
  margin-top: 10rem; }
  header .container .button-home .btn {
    font-weight: bold;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.3rem; }
    header .container .button-home .btn:hover {
      color: var(--secondary-color);
      background-color: var(--light-color); }

#pricing .container .card-columns .card .card-body .my-button {
  text-align: center;
  padding: 0rem;
  margin-top: 3rem; }
  #pricing .container .card-columns .card .card-body .my-button .btn {
    font-weight: bold;
    color: var(--light-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.3rem; }
    #pricing .container .card-columns .card .card-body .my-button .btn:hover {
      color: var(--secondary-color);
      background-color: var(--light-color); }

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3; }

#nav-bar {
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0.9;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr; }
  #nav-bar .nav-first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #nav-bar .nav-first h1 {
      margin-left: 1rem;
      margin-top: 0.8rem;
      font-size: 1.8rem;
      color: var(--secondary-color); }
  #nav-bar .nav-second {
    justify-content: flex-start; }
  #nav-bar .nav-third {
    justify-content: flex-end; }
    #nav-bar .nav-third ul li a.login {
      padding: 0.5rem;
      color: #21e421; }
      #nav-bar .nav-third ul li a.login:hover {
        color: #0afa0a; }
    #nav-bar .nav-third ul li a.signup {
      padding: 0.5rem;
      color: var(--primary-color); }
      #nav-bar .nav-third ul li a.signup:hover {
        color: #0909bb; }

header .container {
  max-width: 100vw;
  min-height: 100vh;
  background: url("../image/favicon01.jpg") no-repeat center center/cover;
  opacity: 0.89;
  overflow: hidden; }
  header .container h1, header .container p {
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.3rem; }
  header .container h1 {
    font-weight: bold;
    margin-top: 5rem; }
    header .container h1 span {
      color: #ffffff; }
  header .container p {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 5rem; }

#galleries .container {
  max-width: 100vw;
  min-height: 100%; }
  #galleries .container h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 2rem; }
  #galleries .container p {
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 5rem; }
  #galleries .container .row {
    overflow: hidden; }
    #galleries .container .row .col {
      margin: 1rem auto; }
      #galleries .container .row .col img {
        width: 290px;
        height: 290px; }

#pricing {
  background-color: var(--light-color);
  overflow: hidden; }
  #pricing .container {
    max-width: 100vw;
    min-height: 100vh; }
    #pricing .container h1 {
      text-align: center;
      text-transform: uppercase;
      margin-top: 2rem;
      font-weight: bold; }
    #pricing .container p {
      text-align: center;
      margin-bottom: 5rem;
      letter-spacing: 0.2rem; }
    #pricing .container .card-columns {
      max-width: 70%;
      min-height: auto;
      margin: auto; }
      #pricing .container .card-columns .card {
        text-align: center;
        border: 1px solid var(--primary-color); }
        #pricing .container .card-columns .card .card-header {
          font-weight: bold;
          font-size: 1.5rem; }
        #pricing .container .card-columns .card .card-body .card-title {
          font-weight: bold; }
        #pricing .container .card-columns .card .card-body .card-text {
          opacity: 0.9;
          color: black;
          margin-top: 1.5rem; }
        #pricing .container .card-columns .card .card-footer {
          opacity: 0.5; }

#blog .container {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden; }
  #blog .container h1, #blog .container p {
    text-align: center;
    letter-spacing: 0.2rem; }
  #blog .container h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem; }
  #blog .container .history {
    max-width: 90vw;
    min-height: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid var(--primary-color);
    text-align: center; }
    #blog .container .history .one, #blog .container .history .two, #blog .container .history .three, #blog .container .history .four {
      font-weight: bold;
      padding: 1rem;
      margin: 2rem auto; }
      #blog .container .history .one h3, #blog .container .history .two h3, #blog .container .history .three h3, #blog .container .history .four h3 {
        color: var(--secondary-color); }
  #blog .container .upload {
    max-width: 100vw;
    min-height: 100%; }
    #blog .container .upload h2 {
      text-align: center;
      font-weight: bold;
      margin-top: 5rem;
      letter-spacing: 0.1rem; }
    #blog .container .upload p {
      text-align: center;
      font-weight: normal;
      letter-spacing: 0.1rem; }
    #blog .container .upload .loading {
      padding: 2rem;
      margin: 1rem auto; }
      #blog .container .upload .loading .progress {
        max-width: 50vw;
        min-height: 100%;
        margin: auto; }
    #blog .container .upload .my_file {
      text-align: center;
      max-width: 20vw;
      min-height: 100%;
      margin: auto;
      font-weight: bold;
      font-size: 1.5rem; }
      #blog .container .upload .my_file .btn {
        background-color: var(--primary-color);
        color: #ffffff;
        border-radius: 1.2rem;
        padding-top: 1rem;
        cursor: pointer; }
        #blog .container .upload .my_file .btn input {
          display: none;
          cursor: pointer; }
  #blog .container .customers {
    max-width: 100vw;
    min-height: 100%;
    margin: auto; }
    #blog .container .customers h1 {
      text-align: center;
      margin: 4rem auto;
      color: var(--primary-color); }
    #blog .container .customers .card-columns {
      max-width: 80vw;
      min-height: 100%;
      margin: 2rem auto; }
      #blog .container .customers .card-columns .card {
        background-color: var(--light-color); }
        #blog .container .customers .card-columns .card .card-body {
          text-align: center;
          border: 1px solid var(--secondary-color); }
        #blog .container .customers .card-columns .card .customer-one img, #blog .container .customers .card-columns .card .customer-two img,
        #blog .container .customers .card-columns .card .customer-three img, #blog .container .customers .card-columns .card .customer-four img,
        #blog .container .customers .card-columns .card .customer-five img, #blog .container .customers .card-columns .card .customer-six img {
          display: block;
          border-radius: 50%;
          margin: 0rem auto; }
        #blog .container .customers .card-columns .card .customer-one .lead-c, #blog .container .customers .card-columns .card .customer-two .lead-c,
        #blog .container .customers .card-columns .card .customer-three .lead-c, #blog .container .customers .card-columns .card .customer-four .lead-c,
        #blog .container .customers .card-columns .card .customer-five .lead-c, #blog .container .customers .card-columns .card .customer-six .lead-c {
          text-align: left;
          letter-spacing: 0rem;
          font-weight: normal;
          font-style: normal;
          padding: 1rem;
          margin: 2rem auto;
          opacity: 0.7; }

#contact .container {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--light-color);
  overflow: hidden; }
  #contact .container h1 {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem; }
  #contact .container p {
    text-align: center;
    letter-spacing: 0.2rem; }
  #contact .container form {
    max-width: 50vw;
    min-height: 100%;
    margin: auto; }
    #contact .container form .form-group label {
      display: block;
      font-weight: bold;
      width: 100%;
      font-size: 1.2rem;
      margin-top: 1.5rem; }
    #contact .container form .form-group input[type="text"], #contact .container form .form-group textarea, #contact .container form .form-group input[type="email"] {
      display: block;
      width: 100%;
      padding: 0.3rem;
      border: 1px solid var(--secondary-color);
      border-radius: 0.3rem; }
      #contact .container form .form-group input[type="text"]:focus, #contact .container form .form-group textarea:focus, #contact .container form .form-group input[type="email"]:focus {
        border: 1px solid #11db11; }
    #contact .container form .form-group input[type="submit"] {
      display: block;
      margin: 3rem auto;
      padding: 0.7rem;
      color: var(--light-color);
      background-color: var(--primary-color);
      border-radius: 0.4rem; }
      #contact .container form .form-group input[type="submit"]:focus {
        background-color: #0afa0a;
        color: var(--secondary-color);
        border-radius: 0.4rem; }

footer .container {
  max-width: 100vw;
  min-height: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly; }
  footer .container .f-left, footer .container .f-middle, footer .container .f-right {
    margin: 1rem auto;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 1.5; }
  footer .container .f-middle {
    align-self: flex-end;
    padding: 0rem;
    margin-left: -2rem; }

#nav-bar .nav-second ul li a, #nav-bar .nav-third ul li a {
  padding: 0.5rem; }

#nav-bar .nav-first h1 {
  margin-left: 0.5rem; }

header .container {
  min-height: 90vh; }

#galleries .container .row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row; }
  #galleries .container .row .col {
    margin-left: -0.01rem; }
    #galleries .container .row .col img {
      width: 200px;
      height: 200px; }
