@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

:root {
  --primary-color: #5858d8;
  --secondary-color: #2f2fdf;
  --dark-color: rgb(60, 60, 60);
  --light-color: rgb(226, 226, 226); }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.logo img {
  width: 90px;
  height: 60px; }

#nav-bar .nav-second ul, #nav-bar .nav-third ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; }
  #nav-bar .nav-second ul li, #nav-bar .nav-third ul li {
    list-style: none;
    margin-top: 0.8rem; }
    #nav-bar .nav-second ul li a, #nav-bar .nav-third ul li a {
      color: var(--light-color);
      font-size: 1.3rem;
      padding: 1rem;
      margin: auto; }
      #nav-bar .nav-second ul li a:hover, #nav-bar .nav-third ul li a:hover {
        color: var(--secondary-color); }

#nav-bar {
  max-width: 100vw;
  min-height: 100%; }

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3; }

#nav-bar {
  background-color: var(--dark-color);
  color: var(--light-color);
  opacity: 0.9;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr; }
  #nav-bar .nav-first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #nav-bar .nav-first h1 {
      margin-left: 1rem;
      margin-top: 0.8rem;
      font-size: 1.8rem;
      color: var(--secondary-color); }
  #nav-bar .nav-second {
    justify-content: flex-start; }
  #nav-bar .nav-third {
    justify-content: flex-end; }
    #nav-bar .nav-third ul li a.login {
      padding: 0.5rem;
      color: #21e421; }
      #nav-bar .nav-third ul li a.login:hover {
        color: #0afa0a; }
    #nav-bar .nav-third ul li a.signup {
      padding: 0.5rem;
      color: var(--primary-color); }
      #nav-bar .nav-third ul li a.signup:hover {
        color: #0909bb; }

header .container {
  max-width: 100vw;
  min-height: 100vh;
  background: url("../image/favicon01.jpg") no-repeat center center/cover;
  opacity: 0.9;
  overflow: hidden; }
  header .container h1, header .container p {
    color: var(--light-color);
    text-align: center; }
  header .container h1 {
    margin-top: 5rem; }
    header .container h1 span {
      color: var(--light-color); }
  header .container p {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 5rem; }
  header .container .button-home {
    text-align: center;
    padding: 1rem;
    margin-top: 10rem; }
