*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --primary-color: #5858d8;
    --secondary-color: #2f2fdf;
    --dark-color: rgb(60, 60, 60);
    --light-color: rgb(226, 226, 226);
}
$breakpoint-Large: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-laptop: 992px;
$breakpoint-tabletLandspace: 768px;
$breakpoint-tabletPortait: 552px;
$breakpoint-smartphoneLandspace: 480px;
$breakpoint-smartphonePortait: 320px;
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.logo{
    & img{
        width: 90px;
        height: 60px;
    }
}
%navbarlist{
    ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        & li{
            list-style: none;
            margin-top: 0.8rem;
            & a{
                color: var(--light-color);
                font-size: 1.3rem;
                padding: 1rem;
                margin: auto;
                &:hover{
                    color: var(--secondary-color);
                }
            }
        }
    }
}
%area{
    max-width: 100vw;
    min-height: 100%;
}
%stylebutton{
    .button-home{
        text-align: center;
        padding: 1rem;
        margin-top: 10rem;
        .btn{
            font-weight: bold;
            color: var(--light-color);
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 0.3rem;
            &:hover{
                color: var(--secondary-color);
                background-color: var(--light-color);
            }
        }
    }
}
%stylebutton2{
    .my-button{
        text-align: center;
        padding: 0rem;
        margin-top: 3rem;
        .btn{
            font-weight: bold;
            color: var(--light-color);
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 0.3rem;
            &:hover{
                color: var(--secondary-color);
                background-color: var(--light-color);
            }
        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3;
}

// Navigation section part - 01

#nav-bar{
    @extend %area;
    background-color: var(--dark-color);
    color: var(--light-color);
    opacity: 0.9;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    .nav-first{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        h1{
            margin-left: 1rem;
            margin-top: 0.8rem;
            font-size: 1.8rem;
            color: var(--secondary-color);
        }
    }
    .nav-second, .nav-third{
        @extend %navbarlist;
    }
    .nav-second{
        justify-content: flex-start;
    }
    .nav-third{
        justify-content: flex-end;
        ul{
            li{
                a.login{
                    padding: 0.5rem;
                    color: #21e421;
                    &:hover{
                        color: #0afa0a;
                    }
                }
                a.signup{
                    padding: 0.5rem;      
                    color: var(--primary-color);
                    &:hover{
                        color: #0909bb;
                    }
                }
            }
        }
    }
}

// home section part - 02
header{
    .container{
        max-width: 100vw;
        min-height: 100vh;
        background: url('../image/favicon01.jpg') no-repeat center center/cover;
        opacity: 0.89;
        overflow: hidden;
        h1, p{
            color: #ffffff;
            text-align: center;
            letter-spacing: 0.3rem;
        }
        h1{
            font-weight: bold;
            margin-top: 5rem;
            span{
                color: #ffffff;
            }
        }
        p{
            font-size: 1.2rem;
            padding: 1rem;
            margin-bottom: 5rem;
        }
        @extend %stylebutton;
    }
}
// pricing section part - 04
#pricing{
    background-color: var(--light-color);
    overflow: hidden;
    .container{
        max-width: 100vw;
        min-height: 100vh;
        h1{
            text-align: center;
            text-transform: uppercase;
            margin-top: 2rem;
            font-weight: bold;
        }
        p{
            text-align: center;
            margin-bottom: 5rem;
            letter-spacing: 0.2rem;
        }
        .card-columns{
            max-width: 70%;
            min-height: auto;
            margin: auto;
            .card{
                text-align: center;
                border: 1px solid var(--primary-color);
                .card-header{
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                .card-body{
                    .card-title{
                        font-weight: bold;
                    }
                    .card-text{
                        opacity: 0.9;
                        color: black;
                        margin-top: 1.5rem;
                    }
                    @extend %stylebutton2;
                }
                .card-footer{
                    opacity: 0.5;
                }
            }
        }
    }
}
// blog section part - 05
#blog{
    .container{
        max-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        h1,p{
            text-align: center;
            letter-spacing: 0.2rem;
        }
        h1{
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 2rem;
        }
        // history section
        .history{
            max-width: 90vw;
            min-height: 100%;
            margin: 3rem auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            border: 1px solid var(--primary-color);
            text-align: center;
            .one, .two, .three, .four{
                font-weight: bold;
                padding: 1rem;
                margin: 2rem auto;
                h3{
                    color: var(--secondary-color);
                }
            }
        }
        // upload section
        .upload{
            max-width: 100vw;
            min-height: 100%;
            h2{
                text-align: center;
                font-weight: bold;
                margin-top: 5rem;
                letter-spacing: 0.1rem;
            }
            p{
                text-align: center;
                font-weight: normal;
                letter-spacing: 0.1rem;
            }
            .loading{
                padding: 2rem;
                margin: 1rem auto;
                .progress{
                    max-width: 50vw;
                    min-height: 100%;
                    margin: auto;
                }
            }
            .my_file{
                text-align: center;
                max-width: 20vw;
                min-height: 100%;
                margin: auto;
                font-weight: bold;
                font-size: 1.5rem;
                .btn{
                    background-color: var(--primary-color);
                    color: #ffffff;
                    border-radius: 1.2rem;
                    padding-top: 1rem;
                    cursor: pointer;
                    input{
                        display: none;
                        cursor: pointer;
                    }
                }
            }
        }
        // customers section
        .customers{
            max-width: 100vw;
            min-height: 100%;
            margin: auto;
            h1{
                text-align: center;
                margin: 4rem auto;
                color: var(--primary-color);
            }
            .card-columns{
                max-width: 80vw;
                min-height: 100%;
                margin: 2rem auto;
                .card{
                    background-color: var(--light-color);
                    .card-body{
                        text-align: center;
                        border: 1px solid var(--secondary-color);
                    }
                    .customer-one, .customer-two, 
                    .customer-three, .customer-four, 
                    .customer-five, .customer-six{
                        img{
                            
                            display: block;
                            border-radius: 50%;
                            margin: 0rem auto;
                        }
                        .lead-c{
                            text-align: left;
                            letter-spacing: 0rem;
                            font-weight: normal;
                            font-style: normal;
                            padding: 1rem;
                            margin: 2rem auto;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
// contact section part - 06
#contact{
    .container{
        max-width: 100vw;
        min-height: 100vh;
        background-color: var(--light-color);
        overflow: hidden;
        h1{
            color: var(--primary-color);
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.1rem;
            margin-top: 2.5rem;
        }
        p{
            text-align: center;
            letter-spacing: 0.2rem;
        }
        form{
            max-width: 50vw;
            min-height: 100%;
            margin: auto;
            .form-group{
                label{
                    display: block;
                    font-weight: bold;
                    width: 100%;
                    font-size: 1.2rem;
                    margin-top: 1.5rem;
                }
                input[type="text"], textarea, input[type="email"]{
                    display: block;
                    width: 100%;
                    padding: 0.3rem;
                    border: 1px solid var(--secondary-color);
                    border-radius: 0.3rem;
                    &:focus{
                        border: 1px solid #11db11;
                    }
                }
                input[type="submit"]{
                    display: block;
                    margin: 3rem auto;
                    padding: 0.7rem;
                    color: var(--light-color);
                    background-color: var(--primary-color);
                    border-radius: 0.4rem;
                    &:focus{
                        background-color: #0afa0a;
                        color:var(--secondary-color);
                        border-radius: 0.4rem;
                    }
                }
            }
        }
    }
}
// footer section part - 07
footer{
    .container{
        max-width: 100vw;
        min-height: 100%;
        background-color: var(--dark-color);
        color: var(--light-color);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        .f-left, .f-middle, .f-right{
            margin: 1rem auto;
            padding: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            line-height: 1.5;
        }
        .f-middle{
            align-self: flex-end;
            padding: 0rem;
            margin-left: -2rem;
        }
    }
}