@import 'main';
// navigation section part - 01
%navbarlist{
    ul{
        display: flex;
        flex-direction: column;
    }
}

#nav-bar{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 1rem;
    position: static;
    .nav-first, .nav-second, .nav-third{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-first{
        h1{
            display: none;
        }
    }
}

// home button
header{
    .container{
        .button-home{
            margin-top: 5rem;
        }
    }
}

// galleries section part - 03
#galleries{
    .container{
        .row{
            display: grid;
            grid-template-columns: auto auto;
            .col{
                margin-left: 1rem;
                & img{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

// footer section part - 07
footer{
    .container{
        display: flex;
        flex-direction: column;
        .f-left, .f-middle, .f-right{
            align-items: flex-start;
        }
        .f-middle{
            align-self: none;
            margin-left: 5rem;
        }
        .f-right{
            margin-left: 4rem;
        }
    }
}